@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='search']::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1e1b28 inset !important;
  -webkit-text-fill-color: white !important;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(20px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur);
  backdrop-filter: var(--tw-backdrop-blur);
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 18px;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday abbr:where([title]) {
  text-decoration: none;
}

.grabbing * {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: grabbing !important;
}

@layer base {
  h1 {
    @apply mb-2;
  }

  h2 {
    @apply text-2xl lg:text-4xl leading-none mb-2;
  }

  .default-hover {
    @apply transition-opacity duration-200 hover:opacity-80;
  }

  /* ::-webkit-scrollbar {
    @apply w-3 bg-night;
  }

  body::-webkit-scrollbar-thumb {
    @apply bg-indigo-900 rounded;
  } */

  .content-container {
    @apply px-4 md:px-12 md:max-w-6xl mx-auto w-full;
  }

  .overflow-y-scroll {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .overflow-y-scroll {
    display: none; /* Safari and Chrome */
  }

  .heading-lg {
    @apply font-heading-lg text-heading-lg leading-[0.85] uppercase;
  }

  .filter-chip {
    @apply bg-night px-3 h-8 [&&]:w-fit flex items-center gap-1.5 rounded-full transition-all duration-150 flex-shrink-0 [&_*]:cursor-pointer select-none;
  }

  .filter-chip-selected {
    @apply bg-lilac text-dark-night font-medium;
  }

  .filter-chip-hovered {
    @apply bg-lilac bg-opacity-30;
  }

  .link {
    @apply text-lilac font-medium transition-opacity duration-200 hover:opacity-90;
  }

  .radio-button {
    @apply invisible relative after:content-[""] after:visible after:absolute after:w-3 after:h-3 after:rounded-full after:border-2 after:border-night after:outline after:outline-1 after:outline-lilac;
  }

  .radio-button:checked {
    @apply after:bg-lilac;
  }

  .checkbox {
    @apply invisible relative after:content-[""] after:visible after:absolute after:top-1 after:w-3 after:h-3 after:rounded-sm after:border after:border-lilac;
  }

  .checkbox:checked {
    @apply after:bg-lilac before:content-['✓'] before:text-dark-night before:visible before:absolute before:w-3 before:h-3 before:z-10 before:top-[1px] before:left-[1px];
  }

  .button {
    @apply min-w-32 w-fit px-4 py-[14px] font-semibold rounded text-dark-night hover:opacity-85 disabled:opacity-30 disabled:hover:opacity-30 transition-opacity duration-200;
  }

  .hovered-img {
    @apply md:group-hover:scale-105 transition duration-200 ease-out;
  }

  .fade-overflow-edge-right {
    @apply after:content-[""] after:h-8 after:w-[40px] after:absolute after:bottom-2 after:right-12 after:bg-gradient-to-r after:from-transparent after:to-dark-night after:z-10 after:transition-opacity after:duration-150;
  }

  .fade-overflow-edge-left {
    @apply before:content-[""] before:h-8 before:w-[40px] before:absolute before:bottom-2 before:left-12 before:bg-gradient-to-l before:from-transparent before:to-dark-night before:opacity-0 before:z-10 before:transition-opacity before:duration-150;
  }

  .circle-button {
    @apply bg-night p-1.5 rounded-full transition-all duration-200 bg-opacity-85 hover:bg-opacity-100;
  }

  .circle-button-event {
    @apply size-10 flex items-center justify-center;
  }

  .filter-chip-scroll {
    @apply flex gap-2 overflow-y-scroll px-4 md:px-0 hide-scrollbar;
  }
}

@layer component {
  .secondary-text {
    @apply text-white text-opacity-60 text-sm leading-[125%];
  }
}

@layer utilities {
  .margin-x-outer {
    @apply px-6 lg:px-12;
  }

  .black-and-white {
    @apply saturate-0;
  }

  .border-10 {
    @apply border border-lilac border-opacity-10;
  }

  .border-20 {
    @apply border border-lilac border-opacity-20;
  }

  .list-divider {
    @apply [&:not(:last-child)]:border-b [&:not(:last-child)]:border-lilac [&:not(:last-child)]:border-opacity-10;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .slider::-webkit-scrollbar {
    @apply h-2 bg-dark-night;
  }

  .slider::-webkit-scrollbar-thumb {
    @apply bg-night rounded;
  }

  .search-content::-webkit-scrollbar {
    @apply w-3 bg-night rounded-r-lg;
  }

  .search-content::-webkit-scrollbar-thumb {
    @apply bg-lilac bg-opacity-20 hover:bg-opacity-35 rounded-lg;
  }
}
